body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family:"Roboto", Arial, Helvetica, sans-serif
}

.body-top {
    padding: 24px 200px;
    padding-bottom: 100px;
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    gap:16px;
}

.hero-title {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
    margin: 0px;
}

.hero-subtext, .links a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
}

.hero-text {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-text button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #E5E7EB;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
    font-size: 18px;
}

.info {
    margin: 60px 200px;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    margin-bottom: 80px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.card {
    display: flex;
    flex-direction: column;
}
.card p {
    max-width: 160px;
    text-align: center;
    color: #1F2937;
    font-weight:300
}

.card img {
    border-style: solid;
    border-color: #3882F6;
    border-radius: 16px;
    border-width: 4px;
}

.quote {
    padding: 100px 200px;
    background-color: #E5E7EB;
}

.quote p:first-child {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937;
    text-align: justify;
}

.quote p:last-child {
    text-align: right;
    font-size: 18px;
    color: #1F2937;
    font-weight: bold;
}

.advert {
    margin: 120px 200px;
    padding: 50px 120px;
    display: flex;
    background-color: #3882F6;
    align-items: center;
    border-radius: 12px;
}

.advert-left p:first-child {
    color: #E5E7EB;
    font-weight: 900;
    font-size: 24px;
    margin: 0px;
}

.advert-left p:last-child {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0px;
    margin-top: 8px;
}

.advert button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #E5E7EB;
    font-weight: bold;
    border-style: solid;
    border-radius: 8px;
    font-size: 18px;
    margin-left: auto;
}

.footer {
    background-color:#1F2937;
    padding: 20px 200px;
}

.footer p {
    font-size: 18px;
    color: #E5E7EB;
    text-align: center;
}