body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family:"Roboto", Arial, Helvetica, sans-serif
}

.body-top {
    padding: 24px 200px;
    padding-bottom: 100px;
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    gap:16px;
}

.hero-title {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
    margin: 0px;
}

.hero-subtext, .links a {
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 100px;
}

.hero-text {
    flex-basis: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.hero-text button {
    background-color: #3882F6;
    padding: 8px 32px;
    color: #E5E7EB;
    font-weight: bold;
    border-style: none;
    border-radius: 8px;
}